/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/*headline*/
h1 {
    font-weight: 200;
    font-size: 150%;
    padding-top: 30px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #EE1F26;
}

.header img {
	height: 50%;
	width: 50%;
    padding: 10px;
    float: left;
    clear: both;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
    margin-left: auto;
    margin-right: auto;
    width:  70vw;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width:  100vw;
	height: 50px;
	background: #EE1F26;
	position: static;
    right: 0;
    bottom: 0;
	padding: 10px;
}

/*Gallery*/
img {
    padding: 5px;
    height: 250px;
    width: 250px;
}

#nbr{
    display: none;
}
